<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modificar Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input [(ngModel)]="precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Autor</ion-label>
    <ion-input [(ngModel)]="autor"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
