<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="welcome-title">Libros Errantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-container ion-padding">
  <div class="title-container fade-in">
    <ion-text class="sub-title">Cree su cuenta para iniciar</ion-text>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="login()" class="login-card">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input
        name="username"
        [(ngModel)]="user.username"
        required
        minlength="3"
        maxlength="8"
        pattern="^[a-zA-Z0-9]*$"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña numérica de 4 dígitos</ion-label>
      <ion-input
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="4"
        maxlength="4"
        type="password"
        inputmode="numeric"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      class="custom-button"
      [disabled]="!loginForm.valid"
    >
      Ingresar
    </ion-button>
  </form>

  <div class="register-text fade-in">
    ¿No tienes una cuenta?
    <a (click)="goToRegister()">Registrarse</a>
  </div>
</ion-content>
