:host {
  --primary-color: #004d40;
  --primary-hover: #00332a;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;     // Centrado vertical
  align-items: center;         // Centrado horizontal
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.title-container {
  margin-top: 20px;
  text-align: center;
}

.welcome-title {
  font-size: 26px;
  font-weight: bold;
  color: rgb(8, 5, 5);
}

.sub-title {
  font-size: 16px;
  color: #444;
}

.login-card {
  width: 100%;
  max-width: 350px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  color: #000;

  ion-label,
  ion-input,
  ion-input input {
    color: #000 !important;
  }

  input::placeholder {
    color: #444 !important;
  }
}

ion-item {
  --background: #f0f0f0;
  --border-radius: 8px;
  margin-bottom: 16px;
}

.custom-button {
  --background: var(--primary-color);
  --color: white;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 8px;
  transition: 0.3s;
}

.custom-button:hover {
  --background: var(--primary-hover);
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.register-text a {
  color: rgb(17, 12, 12);
  font-weight: bold;
  text-decoration: none;
  margin-left: 4px;
  cursor: pointer;
}

.register-text a:hover {
  text-decoration: underline;
}

.fade-in {
  animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

