<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hola, {{ user?.nombre }}</ion-label>
  </ion-item>
  
  <div class="button-group">
    <ion-button class="custom-button" (click)="irAlCatalogo()">Ver Catálogo</ion-button>
    <ion-button class="custom-button" (click)="irAlCarrito()">Ver Carrito</ion-button>
    <ion-button class="custom-button" (click)="irApirest()">Sugerir colección</ion-button>

    <!-- Solo admins -->
    <ion-button *ngIf="isAdmin" class="custom-button" (click)="irAdministrar()">Agregar</ion-button>
    <ion-button *ngIf="isAdmin" class="custom-button" (click)="irAlistar()">Listar y Agregar</ion-button>
    <ion-button *ngIf="isAdmin" class="custom-button" (click)="irAgeolocation()">Geo</ion-button>
    <ion-button *ngIf="isAdmin" class="custom-button" (click)="irApedidos()">Pedidos</ion-button>
    <ion-button *ngIf="isAdmin" class="custom-button" (click)="irAdemanda()">Demanda sugerida</ion-button>

    <!-- Botón de cerrar sesión con ícono -->
    <<!-- Botón abajo -->
    <div class="logout-container">
      <ion-button class="logout-button" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </div>
</ion-content>